html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
body {
  width: 400px;
  min-height: 400px;
  margin: 0;
  padding: 5px;
}
a {
  text-decoration: none;
}
li a {
  text-decoration: underline;
  color: #0288d1;
}
div[class^="col-"] {
  padding: 0;
}
div[class^="container"] {
  margin: 5px;
}
.mdl-grid {
  max-width: 1024px;
  margin: auto;
}
.mdl-layout__header-row {
  padding: 0;
}
.user-details-container {
  margin-top: 20px;
  line-height: 25px;
}
.owner-picture-container {
  width: 40px;
  height: 40px;
}
.owner-picture {
  max-width: 100%;
  max-height: 100%;
}
.session-container {
  
}
.vertical-align {
  display: flex;
  flex-direction: row;
}
.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

#sign-in-status {
  font-weight: bold;
}
.activate-button {
}
.sign-in-button {
  display: none;
}
.create-session-button {
  margin-top: 5px;
  display: none;
}
.user-details {
  display: flex;
	align-items: center;
}
.user-name {
  padding-right: 5px;
  display: none;
}

pre {
  overflow-x: scroll;
  line-height: 18px;
}
code {
  white-space: pre-wrap;
  word-break: break-all;
}
h3 {
  background: url('../images/pacman64.png') no-repeat;
  background-size: 40px;
  padding-left: 50px;
  line-height: 40px;
}